.selected {
    padding: 1.2em;
    border: 0.1em solid var(--blue);
    border-radius: 1.5em;
    background-color: var(--blue);
    color: var(--white);
    transition: 0.5s ease-in-out;
}
.unselected {
    padding: 1.2em;
    border: 0.1em solid var(--blue);
    border-radius: 1em;
    background-color: var(--transp);
    color: var(--blue);
    transition: 0.5s ease-in-out;
}
